<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pokemon Go Share</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"></a>
    <div class="navlink"><a href="/logout">log out</a></div>
    <div class="navlink"><a href="/changePass">change password</a></div>
    <div class="navlink"><a href='/maker'>my pokemon</a></div>
    <div class="navlink"><a href="/community">community</a></div>

  </nav>
  
  <section id="info">
    <p>Welcome to Pokemon Go Share!</p>
    <p>This site was made so that you can share all your cool catches in pokemon with others.</p>
    <p>Not every pokemon in the pokedex is availible, only those availible in game as of April 2019</p>
    <p>Currently this does not support options to add alolan or non-normal form pokemon. Also if you say that your pokemon is 
        shiny, the picture will not reflect that, just the shiny indicator.</p>
  </section>
  <div id="pokemonMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>