<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pokemon Go Share</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"></a>
    <div class="navlink"><a href="/logout">log out</a></div>
    <div class="navlink"><a href="/changePass">change password</a></div>
    <div class="navlink"><a href='/maker'>my pokemon</a></div>
    <div class="navlink"><a href="/community">community</a></div>
    <div class="navlink"><a href="/info">information</a></div>

  </nav>
  
  <section id="info">
    <p>The page you were looking for was not found. :( </p>
    <p>Please click to another page</p>
  </section>
  <div id="pokemonMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>