<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pokemon Go Share</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"></a>
   <div class="navlink"><a href="/logout">log out</a></div>
   <div class="navlink"><a href="/maker">my pokemon</a></div>
   <div class="navlink"><a href="/community">community</a></div>
   <div class="navlink"><a href="/info">information</a></div>
  </nav>
  <section id="passChange">
    <form id="passChangeForm" name="passChangeForm" action="/changePass" method="POST" class="mainForm">
      <label for="oldPass">old password: </label>
      <input id="oldPass" type="text" name="oldPass" placeholder="old password"/>
      <label for="newPass">new password: </label>
      <input id="newPass" type="password" name="newPass" placeholder="new password"/>
      <label for="newPass2">retype password: </label>
      <input id="newPass2" type="password" name="newPass2" placeholder="retype password"/>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="formSubmit" type="submit" value="Change Password" />
    </form>
  </section>
  <div id="pokemonMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>